$dark: (
  primary: #222,
  background-color: #191d2b,
  background-color-2: #f1f1f1,
  font-color: #a4acc4,
  tertiary: #85afaf,
);

$light: (
  primary: #eee,
  background-color: #e4e4e4,
  background-color-2: #10121ad9,
  font-color: #313131,
  tertiary: #999,
);

$success: #00a652;
$danger: #ed1c24;
$white: white;
$gray: gray;
$black: black;
